@import '../../styles/base';
@import '../../styles/header';
@import '../../styles/header';
@import '../../utils/bootstap/css/bootstrap.css';


#main{
    &{
        width: 100%;
    }
    .main-wrapper{
        &{
            width: 83%;
            margin: auto;
            min-width: 102*@size;
            border: 1px sol #cccccc;
            margin-top: 3*@size;
        }
        .nav_box {
            padding-left: @size;
            color: @primary-color;
            a:hover {
                background: @primary-color;
                color: #ffffff;
            }
            .nav-name {
                color: #757373;
            }
        }
        .add{
            font-size: 2.5@size;
            font-weight: 500;
            margin-bottom: 1*@size;
            padding-left: @size;
            height: 5*@size;
            width: 100%;
            line-height: 5*@size;
            outline: none;
            font-size: 3*@size;
            border:0;
            box-shadow: none;
            color: black;
        }
        .jumbotron {
            &{
                position: relative;
                height: 48.8*@size;
            }
            .preview-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 48.8*@size;
            } 
        }
        .btn_box {
            &{
                height: 6*@size;
                border-bottom: 0.05px solid #cccccc;
                margin-top: -10px;
            }
            .seats {
                float: left;
                color: #cccccc;
                span {
                    color: @primary-color;
                }
            }
            .collection{
                height: 5*@size;
                padding: 0 2*@size;
                background: @primary-color;
                font-size: 1.6*@size;
                border: 0.18*@size solid @primary-color;
                color: #ffffff;
                float: right;
                border-radius : 0;
            }  
            .relase:hover {
                background: @primary-color;
            } 
        }
        
        
        .draft{
            padding: 2.5*@size;
            font-size: 1.6*@size;
            color: @primary-color;
        }
        .draft span:hover {
            background: @primary-color;
            color: #ffffff;
        }
        h3{
            color: #bfad80;
            margin-top: 3*@size;
            margin-bottom: 2*@size;
        }
        .ipt{
            width: 33*@size;
            outline: none;
            box-shadow:inset 1px 1px 5px rgba(138, 138, 138, 0.075);
        }
        .example{
            padding-top: 2*@size;
            font-weight: 300;
            color: #cccccc;
        }
        .right_siderbar_2 {
            margin-top: 0;
        }
        .right_siderbar_3 {
            margin-top: 0;
            height: 22*@size;
            .carousel {
                & {
                    position: relative;
                }
                .carousel-inner {
                    height: 100%;
                }
                .iconfont {
                    background: rgb(160, 155, 155);
                    position: absolute;
                    top: 45%;
                    font-size: 2*@size;
                }
                .item {
                    img {
                        width: 100%;
                        height: 22*@size;
                    }
                }
                .icon-arrow-left {
                    left: @size;
                }
                .icon-arrow-right {
                    right: @size;
                }
            }
        }
        .content-wrapper { 
            .page-header {
                width: 100*@size;
                height: 10*@size;
                margin-bottom: 0;
                border: 0;
                .img-box{
                    float: left;
                    img {
                        width: 8*@size;
                        height: 8*@size;
                        border-radius: 4*@size;
                    }
                }
                    .name {
                        float: left;
                        margin-top: 3*@size;
                        font-size: 1.8*@size;
                        margin-left: 2*@size;
                    } 
            }
            
            .describe {
                width: 100%;
                height: 11*@size; 
                padding: @size;
                outline: none;
                border: 0;
                position: relative;
                .textcontent{
                    width: 100%;
                    height: 11*@size; 
                    outline: none;
                    border: 0;
                    padding: @size;
                    font-size: 1.6*@size;
                    resize:none;
                }
                .placehoder{
                    position: absolute;
                    top: 2*@size;
                    left: 2*@size;
                    font-size: 1.6*@size;
                    color: #757373;
                    font-weight: 300;
                }
            }
            .title{
                color: #bfad80;
            }
            .material-table{
                & {
                    width: 100%;
                    margin: 5px 0 10px;
                    background-color: #ffffff;
                    border-collapse:collapse;
                }
                tr {
                    height: 5*@size;
                    .text-input {
                        line-height: 3.5*@size;
                        width: 25.3*@size;
                        background-color: #ffffff;
                        border-bottom: 0.01*@size solid #e9e7e7;
                        font-size: 1.6*@size;
                        color: #b3aeae;
                        font-weight: 300;
                        padding: 0;
                        position: relative;
                        span {
                            position: absolute;
                            top: 18%;
                            left: 0.8*@size;
                        }
                    }
                    .ipts {
                        width: 100%;
                        height: 50px;
                        padding: 8px 16px;
                        outline: none;
                        border: 0;
                        color: #000000;
                        font-weight: 400;
                    }
                    .ipts::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        color:#909090;
                    }
                    .ipts:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                       color: #909090;
                    }
                    .ipts::-moz-placeholder { /* Mozilla Firefox 19+ */
                       color: #909090;
                    }
                    .ipts:-ms-input-placeholder { /* Internet Explorer 10-11 */
                       color: #909090;
                    }
                    .ipts:hover {
                        background-color: #fffcea;
                    }
                    .opreat {
                        width: 10*@size;
                        border: 0;
                        img {
                            padding: 0 @size 0 0.5*@size;
                        }
                    }
                }
            }
            .addline{
                background-color: #c5bfb6;
                border-radius: 0;
                outline: none;
                color: #ffffff;
                font-weight: 300;
            }
            .addline:hover{
                background-color: #988d7e;
            }
            .title-box{
                padding-bottom: 1*@size;
            }
            .practice{
                display: inline-block;
            }
            .red{
                display: inline-block;
                font-size:1.6*@size;
                color: rgb(218, 83, 83);
                .gray {
                    color: #757373;
                }
            }
            .step_box {
                height: 80*@size;
                overflow: scroll;
                .step {
                    & {
                        margin-bottom: 2*@size;
                        background-color: #FFFFFF; 
                    }
                    .step-index {
                        font-size: 3*@size;
                        color: #bfad80;
                    }
                    .step-cover {
                        width: 280px;
                        height: 240px;
                        margin-bottom: 50px;
                    }
                }
            }
            .jumbotron{
                &{
                    width: 100%;
                    height: 19*@size;
                    margin-top: 2*@size;
                    padding-top: 2*@size;
                    padding-left:  2.5*@size;
                    padding-right:  2.5*@size;
                    position: relative;
                }
                .title{
                    font-weight: bold;
                    font-size: 1.6*@size;
                    color: black;
                }
                .addtip{
                    height: 10*@size;
                    width: 100%;
                    border: none;
                    resize: none;
                    background: #eeeeee;
                    font-size: 1.6*@size;
                    color: #61605f;
                    font-weight: 300;
                    padding: 0.7*@size;
                    outline: none;
                }
                .placehoder {
                    font-size: 1.6*@size;
                    position: absolute;
                    top:  6.5*@size;
                    left: 3.5*@size;
                }
            }
        }
    }
}

#footer {
    position: relative;
    .top {
        position: absolute;
        bottom: 2.5*@size;
        right: 1.5*@size;
    }
}


.right_siderbar {
    margin-top: 8*@size;
    height: 14*@size;
    padding: 0 2*@size;
    .column {
        height: 14*@size; 
    }
    .img_col {
        padding: 0;
        .thumbnail{
            border: 0;
            box-sizing: border-box;
            padding: @size;
            .img {
                width: 1.5*@size;
            }
        }
    }
}
.side_thumbnail {
    width: 32.5*@size;
    height: 26*@size;
    .thumbnail_img {
        width: 32.5*@size;
        height: 22*@size;
    }
}
.poprecipe {
    margin-top: 5*@size;
    color: #757373;
    margin-bottom: 2*@size;
    li {
        padding: 0.5*@size 0;
    }
    .icon-meishi14,.icon-meishi12,.icon-meishi10, .icon-meishi8,.icon-meishi6,.icon-meishi4 {
        color: #dab14a;
    }
    .icon-meishi13,.icon-meishi11,.icon-meishi9, .icon-meishi7,.icon-meishi5,.icon-meishi3 {
        color: @primary-color;
    }

}

.side_img {
    width: 30*@size;
    height: 20*@size;
    border: 1px solid #f3f3f3;
    text-align: center;
    margin-bottom: @size;
    margin-top: @size;
    img {
        width: 30*@size;
        height: 14*@size;
    }
    p {
        margin-top: 2*@size;
    }
    p:hover {
        color: @primary-color;
    }
}
#footer {
    &{
        width: 100%;
        margin-top: 30*@size;
        color: 1.2*@size;
    }
   .container {
        & {
            width: 83%;
            margin: auto;
        }
        .btn {
            button {
                height: 4*@size;
                border-radius: 0;
                background: #86cd72;
                border: 1px solid #86cd72;
                margin-right: 2*@size;
            }
        }
        .pull-left {
            & {
                font-size: 1.3*@size;
                font-weight: 300;
                color: #909090;
                margin-bottom: 0.2*@size;
            }
            a {
                font-size: 1.4*@size;
                color: #909090;
            }
            
        }
        .pull-right {
            font-size: 1.3*@size;
            font-weight: 300;
        }
   }
}
.copyright {
    margin-top: 55*@size;
    font-size: 1.3*@size;
    font-weight: 300;
}

.works-main {
    border: 1px solid rgb(236, 236, 236);
    margin-top: 25px;
    width: 660px;
    font-size: 16px;
    &>.top-works-main {
        margin: 0 20px;
        padding: 14px 0;
        height: 80px;
        display: flex;
        justify-content: space-between;
        &>.top-works-main-left {
            width: 540px;
            &>.works-items:hover {
                color: white;
                background-color: #dd3915;
            }
            &>span {
                font-weight: bold;
            }
            &>a {
                color: #dd3915;
                text-decoration: none;
                &>img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
        &>.top-works-main-right {
            line-height: 48px;
            font-size: 12px;
            color: rgb(129, 129, 129);
        }
    }
    &>.mid-works-main {
        width: 660px;
        height: 280px;
        &>.mid-works-main-image {
            float: left;
            width: 280px;
            height: 280px; // border: 1px solid red;
            margin-left: 20px;
            margin-bottom: 20px;
            &>.works-image {
                width: 280px;
                height: 280px;
                position: absolute;
                cursor: pointer;
            }
            &>.on-works-image {
                float: left;
                position: relative;
                left: 95px;
                top: 120px;
                background-color: #cc2e0a;
                width: 100px;
                height: 45px;
                border: 3px solid rgba(255, 255, 255, 0.4);
                border-radius: 2px;
                text-align: center;
                line-height: 40px;
                color: #ffffff;
                background-clip: padding-box;
                display: none;
                cursor: pointer;
                &:hover {
                    filter: brightness(108%);
                }
                &>.icon-taoxin {
                    font-size: 15px;
                }
            }
        }
        &>.works-intro {
            float: right;
            margin: 0 20px;
            width: 318px;
            &>span {
                color: #dd3915;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: #dd3915;
                    color: white;
                }
            }
            &>.works-like {
                float: right;
                margin-top: 190px;
                &>i {
                    font-size: 20px;
                    color: #8d8986;
                    cursor: pointer;
                }
                &>.works-like-number {
                    color: #8d8986;
                    font-size: 12px;
                }
            }
        }
    }
}

.works-like-button-new {
    color: #e8afa6;
}

.bottom-works-main {
    background-color: #f5f6f5;
    height: 62px;
    width: 100%;
    padding: 18px 20px;
    display: flex;
    &>input:nth-child(1) {
        width: 100%;
        font-size: 12px;
        border: none;
        outline: none;
        padding-left: 6px;
    }
    &>input:nth-child(2) {
        width: 70px;
        font-size: 14px;
        border: none;
        outline: none;
        margin-left: 15px;
        background-color: #dd3915;
        color: white;
        display: none;
    }
}

//评论区域
.comment-allin {
    & {
        margin-top: 18px;
    }
    & .mytextarea {
        margin-left: 20px;
    }
    &>.comment-list {
        // &>*{
        //     border: 1px red solid;
        // }
        background-color: #f5f6f5;
        font-size: 12px;
        padding: 0 20px;
        padding-top: 20px;
        & img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}

//评论新增区域
.comment-info {
    &>.comment-info-row {
        width: 620px;
        display: flex;
        align-items: center;
        margin-top: 8px;
        &>.comment-info-left {
            cursor: pointer;
        }
        &>.comment-info-right {
            width: 580px;
            display: flex;
            justify-content: space-between;
            &>.comment-info-right-left {
                width: 540px;
                &>.username-content {
                    color: #dd3915;
                    cursor: pointer;
                    &:hover {
                        background-color: #dd3915;
                        color: #ffffff;
                    }
                }
            } // border: 1px solid red;
            &>.comment-info-right-right {
                width: 26px;
                margin-left: 10px;
                &>.reply-btn {
                    color: #8d8986;
                    cursor: pointer;
                    &:hover {
                        background-color: #8d8986;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

//header
.navbar-default {
    width: 100%;
    &>.nav-header {
        width: 1050px;
        height: 70px;
        &>.navbar-left {
            margin: 18px 10px;
        }
        &>.navbar-header {
            height: 70px;
            &>a>img {
                height: 40px;
            }
        }
        &>.libiaoqian {
            &>ul {
                &>li {
                    &>a {
                        height: 70px;
                        line-height: 40px;
                        color: #dd3915;
                        font-size: 16px;
                    }
                }
            }
            &>.navbar-nav-right {
                float: right;
                margin-right: 10px;
            }
        }
    }
}